/* =================================
  Base Styles
==================================== */
* {
	box-sizing: border-box;
}

h2 {
  margin: 0px;
  padding: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.5em;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  line-height: 1.2;
  color: #3a3a3a;
}

/* =================================
  Header
==================================== */
header {
  background-color: #4EACF2;
}

.main-nav-bar li {
  text-align: center;
}

.page-title {
  color: #fff;
}

.main-nav-bar a {
  font-family: "Varela Round", sans-serif;
  color: #fff;
}

/* =================================
  Body
==================================== */
.blog-container {
  background-color: #4e4e4e;
  text-align: center;
}


/* =================================
  Media Queries
==================================== */

@media screen and (min-width: 769px) {

	.wrapper {
		width: 80%;
    max-width: 1100px;
	}

@media screen and (max-width: 768px) {

  .wrapper {
    background-color: #3a3a3a;
  	width: 90%;

  }
